*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
}
body{
    background-color: #E1E1E1;
}
#app_y{
    width: 70%;
    margin: 0 auto;
}
.jh{
    padding: 3px;
    box-sizing: border-box;
    font-size: 12px;
    color: white;
    background-color: #68bb1e;
    border-radius: 5px;
}
.prettyprint{
    background-color: #f7f7f7;
}
.my_p{
    font-size: 12px;color: #999999;margin: 7px;
}
blockquote>p{
    font-size: 12px;
    color: #737373;
    padding-left: 20px;
    margin: 10px 0;
}
blockquote{
    border-left:5px solid#eee;

}
.markdown-text>p{
    color: #1d1b1c;
    font-size: 13px;
    margin: 0 0 10px 0;
    line-height: 23px;
}
.markdown-text>p>img{
    width: 100%;
    display: block;
    margin: 0 auto;
}
ul>li::before{
    content:'â—'

}
ul>li>a{
    font-size: 12px;
    text-decoration: none;
    color: #00AFEF;
    margin: 15px 0;
}
h2{
    margin-top: 25px;
    border-bottom: 1px solid #cccccc;
}
hr{
    background-color: #cccccc;
}
.c-r{
    width: 100%;
    display: inline-block;
    background-color: white;
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 15px;
}
.t-r{
    width: 100%;
    height: 178px;
    background-color: white;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 15px;
}
.t-r-img{
    width: 30px;
    height: 30px;
}
.top{
    background-color: #f6f6f6;
    color: #80BD01;
    font-size: 14px;
    padding: 5px;
}
.bottom{
    box-sizing: border-box;
    padding: 5px;
}
.sd{
    overflow: hidden;
    text-overflow:ellipsis;
white-space:nowrap;
width:90%;
    line-height: 30px;
}
.tyf{
    color: #3388ff
}
